header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: $white-normal;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover {
  i {
    animation: traslateY .8s infinite alternate;
    color: $red-light;
  }
}

@keyframes traslateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}