header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: $white-normal;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover {
  i {
    animation: traslateY .8s infinite alternate;
    color: $red-light;
  }
}

@keyframes traslateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-button {
  border: 1px solid $white-normal;
  padding: 8px 24px;
  border-radius: 4px;
  color: $white-normal;
  background-color: transparent;
  transition: background-color .9s;
}

.header-button:hover {
  border: 1px solid $red-light;
  background-color: $red-light;
}